#road{
    position: relative;
    margin-left: 5px;
    height: 1000px;
    width: 750px;
    z-index: 10;
}
#right{
    position: absolute;
    margin-top:900px;
   left: 30px;
   z-index: 11;
}
#win{
 position: absolute;
    font-size: 100px;
    margin-top:200px;
   left: 70px;
   z-index: 100;
   color: aliceblue;
}